$Basic_border: 2px solid yellow;

$Primary: #232323;
$Secondary: #131313;


@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');